{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

{% if site.style == 'dark' %}
  {% assign head_text_styles = 'text-white' %}
  {% assign main_text_styles = 'text-light-grey' %}
  {% assign logo_style = 'social-logo-dark' %}
  {% assign logo_style-sm = 'social-logo-dark-sm' %}
  {% assign fill_styles = 'fill-light-grey' %}
{% else %}
  {% assign head_text_styles = 'text-black' %}
  {% assign main_text_styles = 'text-dark-grey' %}
  {% assign logo_style = 'social-logo-light' %}
  {% assign logo_style-sm = 'social-logo-light-sm' %}
  {% assign fill_styles = 'fill-slate-grey' %}
{% endif %}
<div id="switchContainer" class="ml-3 mt-3">
  
  <!-- <label for='themeSwitch' class="hover-grow"><span class="{{logo_style-sm}}"><i id = 'switchIcon' class='fas fa-cloud-moon'></i><p id="switchText" class="f6">Theme</p></span></label> -->
  <label id = 'themeSwitchLabel' for='themeSwitch'>
    <input type="checkbox" id="themeSwitch" style="display: none;"/>
    <span class="{{logo_style-sm}}">
      <i id = 'switchIcon' class='fas fa-cloud-moon'></i>
      <p id="switchText" class="f6">Theme</p>
    </span>
  </label>
</div>

<img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;">
<h1 class="{{head_text_styles}} mb-2 lh-condensed">{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>

{% if include.metadata %}
  <div class="f4 mb-6">
    <!-- {% if user.name %}
      <div class="{{ metadata_styles }}">
        {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
        <a href="https://github.com/{{ user.login }}" {{main_text_styles}}>
          @{{ user.login }}
        </a>
      </div>
    {% endif %}
    {% if user.email %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ user.email }}" {{main_text_styles}}>
          {{ user.email }}
        </a>
      </div>
    {% endif %} -->
    <p class="mb-3 f4 {{main_text_styles}}">
      {{ user.bio }}
    </p>
    <!-- <nav class = "subnav">
      <a href="/about" class="subnav-item nav-gray {{main_text_styles}}">About Me</a>
      <a href="/resume" class="subnav-item nav-gray {{main_text_styles}}">Resume</a>
    </nav> -->

    {% if site.social_media %}
      <div class="flex-center d-flex flex-wrap flex-items-start {% if site.layout == 'stacked' %}flex-justify-center mt-1 mt-md-3{% endif %}">
        {% for account in site.social_media %}
          <div class="{% unless forloop.last == true %}mr-3{% endunless %} mb-3">
            {% assign service_shortname = account[0] %}
            {% assign service = site.data.social_media[service_shortname] %}
            <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="tooltipped tooltipped-se" aria-label="{{ service.name }}: {{ account[1] }}">
              <span class="{{logo_style}}">{{ service.icon_svg }}</span><span class="d-none">{{ service.name }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if user.location %}
      <div class="flex-center {{ metadata_styles }} {{main_text_styles}}">
        {% octicon location height:20 class:"mr-2 v-align-middle {{fill_styles}}" aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %}
    {% if user.hireable %}
      <span title="Hire me" class="ignore-dark-mode mb-3 d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">Available for hire</span>
    {% endif %}
  </div>

{% endif %}
