.text-dark-grey {
    color: SlateGray;
}

.fill-slate-grey {
    fill: SlateGrey;
}

.social-logo-light {
    font-size: 2rem; 
    color: SlateGray;
}

.social-logo-light-sm {
    font-size: 1rem; 
    color: SlateGray;
}
