{% include header.html %}

{% if site.style == 'dark' %}
  {% assign head_text_styles = 'text-white' %}
  {% assign main_text_styles = 'text-light-grey' %}
  {% assign masthead_bg_styles = 'border-dark bg-jet-black' %}
  {% assign main_bg_styles = 'bg-raisin-black' %}
{% else %}
  {% assign head_text_styles = 'text-black' %}
  {% assign main_text_styles = 'text-dark-grey' %}
  {% assign masthead_bg_styles = 'border-gray-light bg-white' %}
  {% assign main_bg_styles = 'bg-gray-light' %}
{% endif %}


{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center " >
    {% include masthead.html metadata=true %}

    <div class = "{{head_text_styles}}">
      {{ content }}
    </div>

    <div class="my-6">
      {% include projects.html %}
    </div>

    {% if site.topics %}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  </div>
{% else %}
  <div class="d-md-flex min-height-full border-md-bottom">
    <div class="vertical-flex-middle flex-center flex-self-stretch border-md-right {{masthead_bg_styles}} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html metadata=true %}
    </div>

    <!-- <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}> -->
    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 {{main_bg_styles}}">  
      <div class="mx-auto" style="max-width: 900px;">
        {% unless content == ""  %}
          <div class="f4 {{head_text_styles}} mb-6">
            {{ content }}
          </div>
        {% endunless %}

        {% include projects.html %}

        {% if site.topics %}
          {% include interests.html %}
        {% endif %}

        {% unless posts_total == 0 %}
          {% include thoughts.html %}
        {% endunless %}
      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}
